.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2.6em;
  height: 1.2em;
 }
 
 .switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
 }
 
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #313033;
  transition: .2s;
  border-radius: 30px;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 0.8em;
  width: 0.8em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #aeaaae;
  transition: .4s;
 }
 
 input:checked + .slider::before {
  background-color: white;
 }
 
 input:checked + .slider {
  background-color: white;
  background: linear-gradient(to right, rgb(59, 130, 246),rgb(56, 189, 248));
 }
 
 input:focus + .slider {
  box-shadow: 0 0 1px white;
 }
 
 input:checked + .slider:before {
  transform: translateX(1.4em);
 }